/* ________ RESET ________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ________ REGOLE GENERALI ________ */
/* WRAPPER */
.wrapper {
  background: linear-gradient(180deg, #2e4953 12%, #153a49 12%);
  height: 100vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* CONTAINER */
.container {
  position: relative;
  top: 5vh;
  height: 90vh;
  width: 80%;
  margin: auto;
}

.flex {
  display: flex;
}

.contact {
  height: 100%;
  width: 30%;
  border-right: 1px solid #323232;
}

.chat {
  height: 100%;
  width: 70%;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

img {
  height: 100%;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

/* TEMPLATE */
.message {
  position: relative;
  max-width: 60%;
  min-width: 50px;
  display: inline-block;
  padding: 10px 60px 10px 10px;
  margin-top: 5px;
  border-radius: 10px;
  clear: both;
}
.message.send-message {
  background-color: #004840;
  float: right;
}
.message.received-message {
  background-color: #1e2e35;
  float: left;
}
.message-time {
  position: absolute;
  right: 0;
  bottom: 5px;
  font-size: 12px;
  color: #a3a3a3;
  padding: 0 10px;
}
.message-info {
  position: absolute;
  right: 8px;
  top: 0;
  font-size: 23px;
  color: #a3a3a3;
  cursor: pointer;
}
.message:hover .message-info {
  display: block;
}

/* DROPDOWN */
.dropdown {
  position: absolute;
  top: 30px;
  right: 10px;
  background-color: #213137;
  padding: 10px 0;
  box-shadow: 0px 0px 16px 2px rgba(0,0,0,0.5);
  cursor: pointer;
  white-space: nowrap;
  z-index: 2333;
  color: #b0b0b0;
}
.dropdown ul li {
  padding: 10px 20px;
}
.dropdown ul li:hover {
  background-color: #1c2c33;
}

/* ________ HEADER ________ */
header {
  height: 80px;
  background-color: #1e2e35;
}

/* NAV CONTACT */ /* NAV CHAT */
.nav {
  padding: 10px 10px;
  justify-content: space-between;
}

/* Profile Picture */
.nav .profile-picture {
  height: 100%;
}

/* Settings */
.navt .settings {
  height: 100%;
  width: 50%;
}
.nav .settings .menu-icons li {
  display: inline-block;
  font-size: 25px;
  margin-right: 20px;
  line-height: 2.6;
  position: relative;
}
.nav .settings .menu-icons li i {
  color: #b0b0b0;
  cursor: pointer;
}

.nav .settings .dropdown {
  top: 90%;
  right: 0;
}

.nav .settings .dropdown ul li {
  font-size: 18px;
  display: block;
  margin-right: 0;
}

/* NAV CHAT */
.nav-chat .text {
  flex-grow: 1;
  line-height: 1.6;
}
.nav-chat .text .name {
  font-size: 20px;
  color: #d4d5d7;
}
.nav-chat .text .description {
  display: block;
  color: #7d7d7d;
}

/* ________ MAIN ________ */
main {
  height: calc(100% - 160px);
  position: relative;
}

/* SECTION CONTACT */
.section-contact {
  height: calc(100% + 80px);
  background-color: white;
}

/* Notifications */
.section-contact .notifications {
  height: 100px;
  width: 100%;
  background-color: #6edafd;
  padding: 30px;
  align-items: center;
}
/* mute */
.section-contact .notifications .mute i {
  background-color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  color: #6edafd;
  font-size: 25px;
  text-align: center;
  line-height: 2.5;
}
/* receive */
.section-contact .notifications .receive a {
  font-size: 14px;
  color: #467b8d;
}
.section-contact .notifications .receive a:hover {
  text-decoration: underline;
}

/* Search Bar */
.section-contact .search-bar {
  background-color: #16252c;
  padding: 10px;
}
.section-contact .search-bar .search-or-start {
  background-color: #0b1d24;
}
.section-contact .search-bar .search-or-start span {
  font-size: 25px;
  vertical-align: middle;
  margin: 0 15px;
  color: #b0b0b0;
  align-self: center;
  cursor: pointer;
}
.section-contact .search-bar .search-or-start input {
  font-size: 16px;
  padding: 10px 15px;
  border:none;
  box-shadow: none;
  outline-color: #6edafd;;
  background-color:transparent;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #7d7d7d;
}

/* Contact Name */
.section-contact .contact-name {
  overflow-y: auto;
  height: calc(100% - 159px);
  background-color: #1c2c32;
}

.section-contact .contact-name .chat-contact {
  border-bottom: 1px solid #323232;
  padding: 0 15px;
  justify-content: space-between;
  background-color: #0b1d24;
  height: 100px;
}
.section-contact .contact-name .chat-contact.active {
  background-color: #1c2c32;
}

.section-contact .contact-name .profile-picture {
  height: 100px;
  padding: 15px 10px;
}

.section-contact .contact-name .text {
  padding: 20px 20px 20px 0;
  flex-grow: 1;
  flex-direction: column;
  align-self: center;
}
.section-contact .contact-name .text .name {
  position: relative;
  font-size: 20px;
  color: #a3a3a3;
}
.section-contact .contact-name .text .description {
  color: #7d7d7d;
}
.section-contact .contact-name .text .description.visible {
  display: block;
}

.section-contact .contact-name .hour {
  position: relative;
}
.section-contact .contact-name .hour span {
  position: absolute;
  right: 0;
  top: 20%;
  font-size: 15px;
  color: #a3a3a3;
}

/* SECTION CHAT */
.section-chat {
  background-image: url(../img/mine.jpg);
  background-size: cover;
}

/* Chat-messages */
.chat-messages {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  padding: 40px 80px;
  color: #d4d5d7;
  display: none;
}

.chat-messages.visible {
  display: block;
}

/* ________ FOOTER ________ */
footer {
  height: 80px;
  background-color: #1e2e35;
  width: calc(100% - 30%);
  margin-left: 30%;
  align-items: center;
}

footer .icon-message {
  font-size: 25px;
  vertical-align: middle;
  margin: 0 30px;
  color: #b0b0b0;
  cursor: pointer;
}

.write-message {
  width: 100%;
}

.write-message input {
  font-size: 16px;
  padding: 20px 15px;
  border:none;
  box-shadow: none;
  outline-color: #6edafd;;
  background-color: #0b1d24;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #7d7d7d;
  border-radius: 5px;
}
.write-message input::placeholder {
  color: #a3a3a3;
}
