/* ________ RESET ________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ________ REGOLE GENERALI ________ */

/* ________ WRAPPER ________ */
.wrapper {
  background: linear-gradient(180deg, #009688 12%, #d8dbd5 12%);
  height: 100vh;
  width: 100%;
}

/* ________ CONTAINER ________ */
.container {
  background-color: red;
  position: relative;
  top: 5vh;
  height: 90vh;
  width: 80%;
  margin: auto;
}

/* ________ HEADER ________ */
header {
  height: 100px;
  background-color: yellow;
}

/* Nav-Contact */
.nav-contact {
  height: 100%;
  width: 30%;
  background-color: goldenrod;
}
/* Nav-Chat */
.nav-chat {
  height: 100%;
  width: 70%;
  background-color: darkgoldenrod;
}

/* ________ MAIN ________ */
main {
  height: calc(100% - 200px);
  background-color: orange;
  display: flex;
}
/* Contact */
.contact {
  height: calc(100% + 100px);
  width: 30%;
  background-color: lightblue;
}

/* Chat */
.chat {
  height: 100%;
  width: 70%;
  background-color: lightgreen;
}
/* ________ FOOTER ________ */
footer {
  height: 100px;
  background-color: green;
}
